/* GENERAL */

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: #33475B;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    padding-bottom: 109px;
}

/* UTILITIES */

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.floated-left {
    float: left;
}

.floated-right {
    float: right;
}

.inline {
    display: inline-block;
}


.inline-list {
    display: inline-block;
    list-style: none;
    margin: 6px;
    padding: 4px;
}


.inline-list li {
    display: inline-block;
    list-style: none;
    margin: 9px;
    padding: 8px;
}

.inline-list .li:last-child {
    margin-right: 0;
}

.logo img {
    position: relative;
    top: 20px;
    vertical-align: middle;
}

/* HEADER */

.header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    z-index: 10;
}


.upper-header  {
    padding-top: 20px;
    background-color: #F0F8FF;
}

#blueicon {
    margin-right: 5px;
    color: dodgerblue;
}

.link {
    text-decoration: none;
}

.row {
    width: 1200px;
    margin: auto;
    color: #33475B;
}

.arrow.fas {
    font-size: 14px;
}


/* BUTTONS */


.button {
    display: inline-block;
    min-width: 100px;
    padding: 6px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    color: #FF6347;
    border: 1px solid  #FF6347;
    border-radius: 5px;
    vertical-align: middle;
}
 
.salmon.button {
    background-color: #FF6347;
    color: white;
    border: 1px solid transparent;
}

.button.salmon:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
    transform: scale(1.2);
}


/* JUMBOTRON */
 
.jumbotron {
    position: relative;
    background-color: #FFF3EE;
    background-image: url("../img-hubspot/jumbotron.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 480px;
}

.bottom-jumbotron {
    position: absolute;
    width: 100%;
    height: 57px;
    bottom: 0;
    background-color: #AFEEEE;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;
}