/* GENERAL */

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: #33475B;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4 {
    font-size: 32px;
    font-weight: 700;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    padding-top: 137px;
}


/* UTILITIES */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.floated-left {
    float: left;
}


.floated-right {
    float: right;
}


.inline {
    display: inline-block;
}


.inline-list {
    display: inline-block;
    list-style: none;
    margin: 6px;
    padding: 4px; 
}


.inline-list li {
    display: inline-block;
    list-style: none;
    margin: 7px;
    padding: 8px; 
}

.inline-list .li:last-child {
    margin-right: 0;
}

.logo img {
    position: relative;
    top: 20px;
    vertical-align: middle;
}


/* HEADER */

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1;
}


.upper-header  {
    padding-top: 20px;
    background-color: #F0F8FF;
}

.lower-header {
    background-color: white;
}

#blueicon {
    margin-right: 5px;
    color: dodgerblue;
}

.link {
    text-decoration: none;
}

.row {
    margin: auto;
    color: #33475B;
}

.inline-list .arrow {
    padding-left: 6px;
    font-size: 13px;
}


/* BUTTONS */


.button {
    display: inline-block;
    min-width: 100px;
    padding: 6px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    color: #FF6347;
    border: 1px solid  #FF6347;
    border-radius: 5px;
    vertical-align: middle;
}
 
.salmon.button {
    background-color: #FF6347;
    color: white;
    border: 1px solid transparent;
}

.button.salmon:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
    transform: scale(1.2);
}


/* JUMBOTRON */
 
.jumbotron {
    position: relative;
    background-color: #FFF3EE;
    background-image: url("../img-hubspot/jumbotron.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 480px;
}

.bottom-jumbotron {
    position: absolute;
    width: 100%;
    height: 57px;
    bottom: 0;
    background-color: #AFEEEE;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;
}


.jumbotron-text {
    width: 40%;
}

.settings-title {
    padding-top: 40px;
}

.special {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.contained {
    width: 60%;
    margin-top: 40px;
    text-align: center;
    line-height: 30px;
}

.jumbotron-text .settings-title {
    padding-bottom: 20px;
}

.jumbotron-text .settings-paragraph {
    line-height: 27px;
}

.special-settings-title {
    margin-bottom: 20px;
}

.cube-image {
    width: 40%;
    padding-top: 20px;
}

 /* CONTAINER WITH 2 FLOATED CLASSES */

 .second-container.clearfix {
     width: 1000px;
     margin: auto;
     padding-top: 30px;
 }

.second-container .first.floated-left {
    width: 30%;
    background-color: royalblue;
}

.second-container .second.floated-left {
    width: 70%;
    background-color: slateblue;
}