/* GENERAL */

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: #33475B;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    padding-top: 137px;
    background-color: #F0F8FF; 
}


/* UTILITIES */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.floated-left {
    float: left;
}


.floated-right {
    float: right;
}


.inline {
    display: inline-block;
}


.inline-list {
    display: inline-block;
    list-style: none;
    margin: 6px;
    padding: 4px; 
}


.inline-list li {
    display: inline-block;
    list-style: none;
    margin: 7px;
    padding: 8px; 
}

.inline-list .li:last-child {
    margin-right: 0;
}

.logo img {
    position: relative;
    top: 20px;
    vertical-align: middle;
}


/* HEADER */

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1;
}


.upper-header  {
    padding-top: 20px;
    background-color: #F0F8FF;
}

.lower-header {
    background-color: white;
}

#blueicon {
    margin-right: 5px;
    color: dodgerblue;
}

.link {
    text-decoration: none;
}

.row {
    margin: auto;
    color: #33475B;
}

.inline-list .arrow {
    padding-left: 6px;
    font-size: 13px;
}


/* BUTTONS */


.button {
    display: inline-block;
    min-width: 100px;
    padding: 9px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: #FF6347;
    border: 1px solid  #FF6347;
    border-radius: 5px;
    vertical-align: middle;
}
 
.salmon.button {
    background-color: #FF6347;
    color: white;
    border: 1px solid transparent;
}

.button.salmon:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
    transform: scale(1.2);
}


/* JUMBOTRON */
 
.jumbotron {
    position: relative;
    background-color: #FFF3EE;
    background-image: url("../img-hubspot/jumbotron.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 480px;
}

.bottom-jumbotron {
    position: absolute;
    width: 100%;
    height: 57px;
    bottom: 0;
    background-color: #AFEEEE;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;
}


.jumbotron-text {
    width: 40%;
}

.settings-title {
    padding-top: 40px;
    margin-bottom: 12px;
    font-size: 43px;
}

.special {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.contained {
    width: 60%;
    margin-top: 40px;
    text-align: center;
    line-height: 30px;
}

.jumbotron-text .settings-title {
    padding-bottom: 20px;
}

.jumbotron-text .settings-paragraph {
    line-height: 27px;
}

.special-settings-title {
    margin-bottom: 35px;
    font-size: 30px;
}

.cube-image {
    width: 40%;
    padding-top: 20px;
}

 /* CONTAINER WITH 2 FLOATED CLASSES */

 .section.container {
    margin-top: 50px;
    padding-top: 10px;
    background-color: white; 
 }


.first-column-content.floated-left.inline{
    width: 10%;
}

.second-column-content.floated-left.inline {
    width: 90%;
    line-height: 30px;
}

.second-column-content.floated-left.inline .not-centred {
    width: 80%;
    padding-top: 20px; 
    padding-left: 200px;
    line-height: 28px;
    text-align: left;
}

.openbook {
    width: 220px;
    height: 220px;
    margin-left: 40px;
    padding-left: 80px;
    background-color: white;
    text-align: left;
}

#special-button1 {
    margin-top: -20px; 
    margin-left: 120px;
    padding: 12px; 

}

.free-hubspot-title {
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 24px;
}

.feature-title {
    margin-top: 25px;
    font-size: 17px;
}

.feature-title:after {
    content: "______________________________________________";
    padding-left: 50px;
}

.booksec.inline-list {
    margin-top: 15px;
}

.fa-check-circle {  
    color: #FF6347;
}


/* CONTAINER CONTAINING 3 FLOATED COLUMNS */


.other-section.container {
    height: 500px;
    margin-top: 40px;
    background-color:  #F0F8FF;
    border: 6px solid blue;
}

.col {
    width: calc(100% / 3 - 60px);
    margin: 30px;
}

.container.clearfix.inline .first.col {
    background-color: #FF6347;
}


.container.clearfix.inline .second.col {
   background-color: aqua;
}


.container.clearfix.inline .third.col {
    background-color: blueviolet;
}