/* GENERAL */

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;   
}


body {
    padding-top: 137px;
    background-color: #F0F8FF; 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:#33475B;
}


h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}


.container {
    width: 1200px;
    margin: 0 auto;
}


/* UTILITIES */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.floated-left {
    float: left;
}


.floated-right {
    float: right;
}


.inline {
    display: inline-block;
}


.inline-list {
    display: inline-block;
    list-style: none;
    margin: 6px;
    padding: 4px; 
}


.inline-list li {
    display: inline-block;
    list-style: none;
    margin: 7px;
    padding: 8px; 
}


.inline-list .li:last-child {
    margin-right: 0;
}


.logo img {
    position: relative;
    top: 20px;
    vertical-align: middle;
}


/* HEADER */

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1;
}


.upper-header  {
    padding-top: 20px;
    background-color: #F0F8FF; 
}


.lower-header {
    background-color: white;
}


#blueicon {
    margin-right: 5px;
    color: dodgerblue;
}


.link {
    text-decoration: none;
}

.row {
    margin: auto;
    color: #33475B;
}

.inline-list .arrow {
    padding-left: 6px;
    font-size: 13px;
}


/* BUTTONS */


.button {
    display: inline-block;
    min-width: 100px;
    padding: 9px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: #FF6347;
    border: 1px solid  #FF6347;
    border-radius: 5px;
    vertical-align: middle;
}
 
.salmon.button {
    background-color: #FF6347;
    color: white;
    border: 1px solid transparent;
}

.button.salmon:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
    transform: scale(1.2);
}


/* JUMBOTRON */
 
.jumbotron {
    position: relative;
    background-image: url("../img-hubspot/jumbotron.png");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 480px;
}

.bottom-jumbotron {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 57px;
    background-color: #AFEEEE;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B; 
}


.jumbotron-text {
    width: 40%;
}

.settings-title {
    padding-top: 40px;
    margin-bottom: 12px;
    font-size: 43px;
}

.special {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.contained {
    width: 60%;
    margin-top: 40px;
    text-align: center;
    line-height: 30px;
}

.jumbotron-text .settings-title {
    padding-bottom: 20px;
}

.jumbotron-text .settings-paragraph {
    line-height: 27px;
}

.special-settings-title {
    margin-bottom: 35px;
    font-size: 30px;
}

.cube-image {
    width: 40%;
    padding-top: 20px;
}



 /* CONTAINER WITH 2 FLOATED CLASSES */

 .section.container {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: white; 
    border: 1px solid #D3D3D3;
 }


.first-column-content.floated-left.inline {
    width: 10%;
}

.second-column-content.floated-left.inline {
    width: 90%;
    line-height: 30px;
}

.second-column-content.floated-left.inline .not-centred {
    width: 80%;
    padding-top: 20px; 
    padding-left: 200px;
    line-height: 28px;
    text-align: left;
}

.openbook {
    width: 220px;
    height: 220px;
    margin-left: 40px;
    padding-left: 80px;
    background-color: white;
    text-align: left;
}

#special-button1 {
    margin-top: -20px; 
    margin-left: 120px;
    padding: 12px; 

}

.free-hubspot-title {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 24px;
}

.feature-title {
    margin-top: 25px;
    font-size: 17px;
}

.feature-title:after {
    content: "______________________________________________";
    padding-left: 50px;
}

.booksec.inline-list {
    margin-top: 15px;
}

.fa-check-circle {  
    color: #FF6347;
}


/* CONTAINER CONTAINING 3 FLOATED COLUMNS */


.other-section.container {
    margin-top: 40px;
    background-color:  #F0F8FF;
}

.col {
    width: calc(100% / 3 - 36px);
    margin-left: 18px;
    margin-right: 18px;
    padding: 30px;
    background-color: white;
    text-align: center;
    line-height: 24px; 
    border: 1px solid #D3D3D3;
}


.col-content .small-pic {
    width: 100px;
    height: 100px;
    background-color: white;
}

.col-content .small-pic-title {
    font-size: 21px;
    padding-bottom: 25px;
}

.pad-btm {
    padding-bottom: 80px;
    border-bottom: 1px solid  #33475B;
}


.popular-feature-title {
    margin-top: 35px;
    font-size: 16px;
}


.special.inline-list {
    display: block;
    margin: 10px 0;
    text-align: left;
    
}

.special.inline-list .list-item {
   display: block;
   margin: 0;
   padding: 0;
}



/* CONTAINER WITH LINEAR GRADIENT */

.linear-gradient {
    margin-top: 40px;
    padding: 10px;
    background-image: linear-gradient(#08a4bc, #07bca8);
}


.linear-gradient .container .linear-gradient-title {
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.linear-gradient .container .linear-gradient-pg {
   padding-top: 10px;
   padding-bottom: 40px;
   text-align: center;
   line-height: 25px;
   font-size: 13px;
   color: white;
}


.clm {
    width:calc(100% / 4);
    padding-top: 30px;
    padding-right: 15px; 
    padding-bottom: 30px; 
    text-align: center;
    line-height: 24px; 
    color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    
}

.clm:last-child {
    border-right: 1px solid transparent;
}


.second-row .clm.noborder {
   border-bottom: 1px solid transparent;
}


 .white-numbers {
     padding: 20px;
     text-align: center;
     font-weight: bolder;
     font-size: 35px;
 }

.small-detail {
    font-size: 11px;
}


/* OHTER SECTION WITH 2 FLOATED COLUMNS*/

.special-smaller-container {
    width: 1000px;
    margin: 0 auto;
}

.pillar-content {
    margin-top: 40px;
    text-align: center;
}

.pillar {
/*margin: 20px; */
    background-color:white;
} 

.first.pillar {
    width: 40%;
}

.second.pillar {
    width: 60%;
} 

.logo-list li {
    display: inline-block;
    width: 24%;
}

.small-logos {
    max-width: 100%;
    max-height: 50px;
}

.white-numbers.two {
    color:  #33475B;
}

.pillar-text {
    margin-top: 10px;
    padding: 30px;
}

.woman-pic {
    width: 350px;
    height: 350px;
    padding-top: 30px;
    
}